<section>
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28550.059592574693!2d79.30145547696456!3d26.56005887994969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39761cc21a454c9b%3A0x386925c945aa71ac!2sBabarpur%2C%20Uttar%20Pradesh%20206121!5e0!3m2!1sen!2sin!4v1677962908487!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>